In [1]:
print ("Hello, world!")

Hello, world!

In [1]:
a = "Hello, World!"
print(a.replace("H", "Y"))

Yello, World!

In [2]:
print (a)

Hello, World!

In [2]:
if 5>2:
    print ("Five is reater than two!")

Five is reater than two!

In [36]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [38]:
if 5>2:
 print ("Five is greater than two!")
if 5>2:
     print ("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [8]:
x = 5
"""
This is a comment
written in
more than just one line
"""
x

5

In [21]:
x = 5
y = "John"
z = 10
print(x) 
y
z

5

10

In [23]:
x = 5
y = "John"
z = 10
e = (x, y, z)
print(e)

(5, 'John', 10)

In [3]:
x = 5
y = "John"
z = 10
x, y, z

(5, 'John', 10)

In [25]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [26]:
x = y = z = 7
print(x)
print(y)
print(z)

7
7
7

In [27]:
x, y, z = "Ich", "Du", "Sie, Er, Es"
print(x)
print(y)
print(z)

Ich
Du
Sie, Er, Es

In [48]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [49]:
x = "awesome"
def myfunc():
    x = "fantastic"
    print("Python is " + x)
myfunc()

Python is fantastic

In [50]:
def myfunc():
    global x
    x = "wow"
    
myfunc()
print("Python is " + x)

Python is wow

In [51]:
x = "awesome"
def myfunc():
    global x
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [4]:
x = 5
print(type(x))

<class 'int'>

In [6]:
a = "Enaidica"
print(a[-6:-2])
print(len(a))

aidi
8

In [13]:
a = "Enaidica "
print(len(a))
print(a.strip())
print(len(a))

9
Enaidica
9

In [15]:
a = "22222Enaidica22222"
print(len(a))
print(a.strip("2"))
print(a)
print(len(a))

18
Enaidica
22222Enaidica22222
18

In [34]:
a ="www.Enaidabejdic.com"
print(a)
print(a.strip(".mocw"))
print(a)

www.Enaidabejdic.com
Enaidabejdi
www.Enaidabejdic.com

In [35]:
a =" damn.Enaidabejdic.ba "
print(a)
print(len(a))
print(a.strip("damnba. "))
print(a)
print(len(a))

 damn.Enaidabejdic.ba
22
Enaidabejdic
 damn.Enaidabejdic.ba
22

In [36]:
def StripInMemory(a):
    print("Length before strip method:")
    print(len(a))
    a = a.strip()
    print("Length before strip method:")
    return a
print(len(StripInMemory(a)))

Length before strip method:
22
Length before strip method:
20

In [38]:
a = "Leonardo da Vinci"
print(a.upper()) #lower()

LEONARDO DA VINCI

In [43]:
a = "Leonardo da Vinci"
print(a.replace("da Vinci", "the Cool Man"))
print(a.split(" "))

Leonardo the Cool Man
['Leonardo', 'da', 'Vinci']

In [45]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [72]:
txt = "The rain in Spain stays mainly in the plain"
a = "ain"
print(txt.count(a))
#damn! it worked :)

4

In [78]:
age = 29
txt = "My name is Enaida and I am {} - hahaha"
print(txt.format(age))

My name is Enaida and I am 29 - hahaha

In [80]:
age = 29
realAge = 49
txt = "My name is Enaida and I am {0}. Kidding. {1}."
print(txt.format(age, realAge))

My name is Enaida and I am 29. Kidding. 49.

In [6]:
txt = "we are the so-called \"Vikings\" from the north."
print(txt)

we are the so-called "Vikings" from the north.

In [9]:
a = "malisa"
b = "Cica Glisa"
print(a.capitalize())
print(a)
print(b.casefold())
print(b)

Malisa
malisa
cica glisa
Cica Glisa

In [10]:
print(a.center(20))

       malisa

In [27]:
txt = "My name is St√•le"
print(txt.encode())
print(txt.encode(encoding = "ascii", errors = "backslashreplace"))
print(txt.encode(encoding = "ascii", errors = "ignore"))
print(txt.encode(encoding = "ascii", errors = "namereplace"))
print(txt.encode(encoding = "ascii", errors = "replace"))
print(txt.encode(encoding = "ascii", errors = "xmlcharrefreplace"))

b'My name is St\xc3\xa5le'
b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [32]:
a = "Cica Glisa!"
print(a.endswith("!"))
txt = "H\te\tl\tl\to"
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(6))
print(txt.expandtabs(8))

True
H       e       l       l       o
H e l l o
H   e   l   l   o
H     e     l     l     o
H       e       l       l       o

In [33]:
z = "Python is awesome and I am rocking it."
print(z.find("w"))

11

In [40]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 25))
a = "We have {:^8} chickens"
print(a.format(29))

For only 25.00 dollars!
We have    29    chickens

In [3]:
#f-strings
name = "Eric"
age = 27
f"hello, {name}. You are {age}."

f"{2*7}"

'14'

In [4]:
def to_lowercase(input):
    return input.lower()
name = "Eric Idle"
f"{to_lowercase(name)} is funny."

'eric idle is funny.'

In [5]:
name = "Eric Idle"
f"{name.lower()} is funny."

'eric idle is funny.'

In [6]:
class Comedian:
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.lname = lname
        self.age = age
    def __str__(self):
        return f"{self.fname} {self.lname} is {self.age}."
    def __repr__(self):
        return f"{self.fname} {self.lname} is {self.age}. Surprise!"

new_comedian = Comedian("Eric", "Idle", "74")
f"{new_comedian!r}"

'Eric Idle is 74. Surprise!'

In [9]:
name = "Eric"
age = 27
message = (f"hello, {name}. You are {age}.")
message

'hello, Eric. You are 27.'

In [10]:
comedian = {"name": "Eric Idle", "age":74}
f"The comedian is {comedian['name']}, aged {comedian['age']}"

'The comedian is Eric Idle, aged 74'

In [11]:
rollNo = 1
subject = "Maths"
print("The roll no. %  studies % subject" %(rollNo, subject) )

The roll no. 1tudies Mathsubject

In [12]:
rollNo= 1 ; subject= "Maths"
print("The roll no. {0} studies {1} subject". format(rollNo, subject))
print("The roll no. {rollNo} studies {subject} subject".format(rollNo=10, subject="Science"))

The roll no. 1 studies Maths subject
The roll no. 10 studies Science subject

In [13]:
rollNo = 5 ; subject = "Biology"
print(f"The roll no. {rollNo} studies {subject} subject")

The roll no. 5 studies Biology subject

In [14]:
ord("a")

97

In [15]:
chr(69)

'E'

In [1]:
for letter in "Python3":
    if letter == "o":
        break
    print (letter)

P
y
t
h

In [2]:
a = 0
while a <= 5:
    a = a + 1
    if a%2 == 0:
        continue
    print (a)
print ("End of Loop" )

1
3
5
End of Loop

In [3]:
for i in [1,2,3,4,5]:
    if i==3:
        pass
        print ("Pass when value is", i )
    print (i)

1
2
Pass when value is 3
3
4
5

In [4]:
a = "Hello"
a*2

'HelloHello'

In [5]:
text = "banana"
count = 0
for i in text:
    if i == "a":
        count += 1
print(count)

3

In [6]:
text = "Banana"
print(text.swapcase())

bANANA